Repository rust-marker/marker, pull requests merged in 2023-10, with the labels that each got.

#265 API: Removed the `CallableData` trait
  CHANGELOG.md
  marker_api/src/ast/common.rs
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/ty.rs
  marker_api/src/ast/ty/fn_ty.rs
  marker_api/src/ast/ty/ptr_ty.rs
  marker_rustc_driver/src/conversion/marker/ty.rs
Labels: C-enhancement, A-api, I-api-break

#262 CI: Add semantic versioning test for controlled breakage
  .github/workflows/ci.yml
  marker_api/src/ast/ty/fn_ty.rs
  scripts/download/cargo-semver-checks.sh
Labels: C-enhancement, A-infra

#259 Add a github action
  .github/workflows/ci.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/release.yml
  CHANGELOG.md
  action.yml
  docs/internal/release.md
  scripts/release/get-git-tags.sh
  scripts/release/install.ps1
  scripts/release/install.sh
Labels: C-enhancement, A-infra, S-waiting-on-review

#267 API: Undo accidental API break from rust-marker/marker#262
  marker_api/src/ast/ty/fn_ty.rs
Labels: C-bug, A-api

#260 API: Add `AstMap` (`MarkerContext` cleanup and more breakage :bomb:)
  CHANGELOG.md
  marker_adapter/src/context.rs
  marker_adapter/src/context/map.rs
  marker_api/src/context.rs
  marker_api/src/context/map.rs
  marker_api/src/lint.rs
  marker_api/src/prelude.rs
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/context/map.rs
  marker_rustc_driver/src/conversion/marker.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_uilints/src/lib.rs
  marker_uilints/src/utils.rs
  marker_uilints/tests/ui/context/test_ast_map.rs
  marker_uilints/tests/ui/context/test_ast_map.stderr
  marker_uilints/tests/uitest.rs
  marker_utils/src/visitor.rs
Labels: C-enhancement, A-marker-adapter, A-api, I-api-break

#272 uitest: Use `CARGO_TARGET_DIR` as default and auto create required folders
  marker_uitest/src/lib.rs
Labels: C-bug, A-marker-uitest

#270 Doc: Update changelog for `v0.3.0`
  CHANGELOG.md
Labels: C-documentation

#277 uitest: Normalize path separators for `$DIR` replacement
  marker_uitest/src/lib.rs
Labels: C-bug, A-marker-uitest

#285 CI: Only deplay GH Pages on release
  .github/workflows/gh-pages.yml
  docs/book/src/SUMMARY.md
Labels: C-documentation, A-infra

#288 API: Include the lint crate in the lint identifier
  .github/workflows/gh-pages.yml
  CHANGELOG.md
  marker_api/src/lint.rs
  marker_lints/tests/ui/diag_msg_uppercase_start.stderr
  marker_lints/tests/ui/not_using_has_span_trait.rs
  marker_lints/tests/ui/not_using_has_span_trait.stderr
  marker_lints/tests/uitest.rs
  marker_uilints/tests/ui/cfg_attr_check.rs
  marker_uilints/tests/ui/cfg_attr_check.stderr
  marker_uilints/tests/ui/context/test_ast_map.stderr
  marker_uilints/tests/ui/expr/print_async_block.stderr
  marker_uilints/tests/ui/expr/print_await_expr.stderr
  marker_uilints/tests/ui/expr/print_closure_expr.stderr
  marker_uilints/tests/ui/expr/sugar/README.md
  marker_uilints/tests/ui/expr/sugar/for_loop.rs
  marker_uilints/tests/ui/expr/sugar/for_loop.stderr
  marker_uilints/tests/ui/expr/sugar/ranges.rs
  marker_uilints/tests/ui/expr/sugar/ranges.stderr
  marker_uilints/tests/ui/expr/sugar/try_expr.rs
  marker_uilints/tests/ui/expr/sugar/try_expr.stderr
  marker_uilints/tests/ui/expr/sugar/while_loop.rs
  marker_uilints/tests/ui/expr/sugar/while_loop.stderr
  marker_uilints/tests/ui/find_item.stderr
  marker_uilints/tests/ui/foo_items.stderr
  marker_uilints/tests/ui/item/print_async_fn.stderr
  marker_uilints/tests/ui/item/print_fn_item.stderr
  marker_uilints/tests/ui/item_id_resolution.stderr
  marker_uilints/tests/ui/lint_level_attributes.rs
  marker_uilints/tests/ui/lint_level_attributes.stderr
  marker_uilints/tests/ui/print_adt_item.stderr
  marker_uilints/tests/ui/print_assign_expr.stderr
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_uilints/tests/ui/print_const_generics.stderr
  marker_uilints/tests/ui/print_ctor.stderr
  marker_uilints/tests/ui/print_let_expr.stderr
  marker_uilints/tests/ui/print_loop_expr.stderr
  marker_uilints/tests/ui/print_object_exprs.stderr
  marker_uilints/tests/ui/print_op.stderr
  marker_uilints/tests/ui/print_path_expr.stderr
  marker_uilints/tests/ui/print_place_expr.stderr
  marker_uilints/tests/ui/print_semantic_ty.stderr
  marker_uilints/tests/ui/print_span.stderr
  marker_uilints/tests/ui/print_ty.stderr
  marker_uilints/tests/ui/print_use.stderr
  marker_uilints/tests/ui/utils/contains_return.stderr
Labels: C-enhancement, A-api

#292 Chore: Bump nightly -> `2023-08-24`
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/utils/utf8.rs
  marker_rustc_driver/src/conversion/marker/ast/item.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/sem/ty.rs
  marker_rustc_driver/src/main.rs
  rust-toolchain.toml
Labels: D-rustc-driver

#271 Rustc: Librarify `marker_rustc_driver`
  marker_rustc_driver/Cargo.toml
  marker_rustc_driver/src/lib.rs
  marker_rustc_driver/src/lint_pass.rs
  marker_rustc_driver/src/main.rs
Labels: C-enhancement, D-rustc-driver, A-driver
