Repository rust-marker/marker, pull requests merged in 2023-07, with the labels that each got.

#165 API: `declare_lint` now uses doc comments for the lint description
  marker_api/README.md
  marker_api/src/ast/common/span.rs
  marker_api/src/interface.rs
  marker_api/src/lint.rs
  marker_uitest/src/lib.rs
Labels: C-enhancement, A-api, S-waiting-on-review

#162 Tests, Lints: Setup `marker_lints` for awesome linting and switch to `ui_test` for tests
  Cargo.lock
  Cargo.toml
  marker_lints/Cargo.toml
  marker_lints/src/lib.rs
  marker_lints/tests/ui/diag_msg_uppercase_start.rs
  marker_lints/tests/ui/diag_msg_uppercase_start.stderr
  marker_lints/tests/uitest.rs
Labels: C-enhancement, A-marker-lints, S-waiting-on-review

#164 API: Follow "Rust API Guidelines", Seal traits :seal: and use enums instead of bools
  marker_adapter/src/context.rs
  marker_adapter/src/loader.rs
  marker_api/src/ast/common.rs
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/control_flow_expr.rs
  marker_api/src/ast/expr/ctor_expr.rs
  marker_api/src/ast/expr/op_exprs.rs
  marker_api/src/ast/generic/arg.rs
  marker_api/src/ast/generic/bound.rs
  marker_api/src/ast/generic/param.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/item/adt_item.rs
  marker_api/src/ast/item/static_item.rs
  marker_api/src/ast/pat.rs
  marker_api/src/ast/pat/ident_pat.rs
  marker_api/src/ast/pat/ref_pat.rs
  marker_api/src/ast/pat/struct_pat.rs
  marker_api/src/ast/stmt.rs
  marker_api/src/ast/ty.rs
  marker_api/src/ast/ty/ptr_ty.rs
  marker_api/src/context.rs
  marker_api/src/interface.rs
  marker_api/src/lib.rs
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_rustc_driver/src/conversion/marker/pat.rs
  marker_rustc_driver/src/conversion/marker/ty.rs
  marker_uitest/tests/ui/print_closure_expr.stderr
  marker_uitest/tests/ui/print_cond_expr.stderr
  marker_uitest/tests/ui/print_loop_expr.stderr
  marker_uitest/tests/ui/print_op.stderr
  marker_uitest/tests/ui/print_ty.stderr
Labels: C-enhancement, A-api, S-waiting-on-review, I-unsound

#166 Rustc: Enable `non_exhaustive_omitted_patterns_lint` feature and lint
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/rustc/common.rs
  marker_rustc_driver/src/conversion/rustc/unstable.rs
  marker_rustc_driver/src/main.rs
Labels: C-enhancement, S-waiting-on-review, A-driver

#168 Cargo: Remove `cargo_fetch` dependency and rework the architecture
  Cargo.lock
  Cargo.toml
  cargo-marker/Cargo.toml
  cargo-marker/README.md
  cargo-marker/src/backend.rs
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/backend/lints.rs
  cargo-marker/src/backend/lints/build.rs
  cargo-marker/src/backend/lints/fetch.rs
  cargo-marker/src/backend/toolchain.rs
  cargo-marker/src/cli.rs
  cargo-marker/src/config.rs
  cargo-marker/src/driver.rs
  cargo-marker/src/exit.rs
  cargo-marker/src/lints.rs
  cargo-marker/src/main.rs
  cargo-marker/src/utils.rs
  marker_lints/Cargo.toml
  marker_lints/tests/uitest.rs
  marker_rustc_driver/src/main.rs
  marker_uitest/tests/uitest.rs
  util/update-toolchain.sh
Labels: C-enhancement, A-marker-cargo, S-waiting-on-review

#171 API: The README of marker_api rebirth and a new `marker_api::prelude` module
  marker_api/README.md
  marker_api/src/context.rs
  marker_api/src/lib.rs
  marker_api/src/prelude.rs
Labels: C-documentation, C-enhancement, A-api, S-waiting-on-review

#158 Documentation: Update Marker's main README
  README.md
  cargo-marker/README.md
  res/marker-logo-rect.svg
  res/marker-logo-round.svg
  res/marker-logo.svg
Labels: C-documentation, S-waiting-on-review

#173 Rustc: Warn when a user attempts to manually install the driver
  cargo-marker/src/backend/driver.rs
  marker_rustc_driver/build.rs
Labels: D-rustc-driver, S-waiting-on-review

#176 Rustc: Fix spans, sound and ICEs
  marker_adapter/src/context.rs
  marker_api/src/ast/common/id.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/op_exprs.rs
  marker_api/src/context.rs
  marker_api/src/ffi.rs
  marker_api/src/lint.rs
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/context/storage.rs
  marker_rustc_driver/src/conversion/marker.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/generics.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_rustc_driver/src/conversion/marker/pat.rs
  marker_rustc_driver/src/conversion/marker/ty.rs
  marker_rustc_driver/src/conversion/rustc/common.rs
  marker_rustc_driver/src/conversion/rustc/unstable.rs
  marker_uilints/src/lib.rs
  marker_uilints/tests/ui/find_item.rs
  marker_uilints/tests/ui/find_item.stderr
  marker_uilints/tests/ui/print_cond_expr.rs
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_uilints/tests/ui/print_span.rs
  marker_uilints/tests/ui/print_span.stderr
  marker_uilints/tests/ui/test-lang-items.rs
  marker_uilints/tests/ui/test_no_async_ice.rs
  marker_uilints/tests/ui/test_no_async_ice.stderr
Labels: C-enhancement, D-rustc-driver, S-waiting-on-review, I-unsound, I-panic, A-driver

#180 Rustc: Add ICE hook and handle const generics
  .cargo/config.toml
  marker_api/src/ast/common.rs
  marker_api/src/ast/common/ast_path.rs
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/generic.rs
  marker_api/src/ast/generic/arg.rs
  marker_api/src/ast/generic/bound.rs
  marker_api/src/ast/generic/clause.rs
  marker_api/src/ast/generic/param.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/pat.rs
  marker_api/src/ast/ty.rs
  marker_api/src/ast/ty/fn_ty.rs
  marker_api/src/ast/ty/other_ty.rs
  marker_api/src/ast/ty/prim_ty.rs
  marker_api/src/ast/ty/ptr_ty.rs
  marker_api/src/ast/ty/relative_ty.rs
  marker_api/src/ast/ty/sequence_ty.rs
  marker_api/src/ast/ty/trait_ty.rs
  marker_api/src/ast/ty/user_ty.rs
  marker_api/src/ffi.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/generics.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_rustc_driver/src/main.rs
  marker_uilints/src/lib.rs
  marker_uilints/tests/ui/lint_ice_message.rs
  marker_uilints/tests/ui/lint_ice_message.stderr
  marker_uilints/tests/ui/print_const_generics.rs
  marker_uilints/tests/ui/print_const_generics.stderr
  marker_uilints/tests/ui/rustc_ice_message.rs
  marker_uilints/tests/ui/rustc_ice_message.stderr
  marker_uilints/tests/ui/test_no_async_ice.stderr
Labels: C-enhancement, A-api, D-rustc-driver, S-waiting-on-review, A-driver

#183 API, Doc, Rustc: Document missing features, review `FIXME`s and `todo!()` macros
  README.md
  marker_api/src/ast/common.rs
  marker_api/src/ast/common/ast_path.rs
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/expr/call_exprs.rs
  marker_api/src/ast/expr/control_flow_expr.rs
  marker_api/src/ast/expr/ctor_expr.rs
  marker_api/src/ast/generic/param.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/item/adt_item.rs
  marker_api/src/ast/stmt.rs
  marker_api/src/ast/ty/fn_ty.rs
  marker_api/src/ast/ty/sequence_ty.rs
  marker_api/src/context.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_rustc_driver/src/conversion/marker/ty.rs
  marker_uilints/tests/ui/print_adt_item.rs
  marker_uilints/tests/ui/print_adt_item.stderr
  marker_uilints/tests/ui/print_assign_expr.stderr
  marker_uilints/tests/ui/print_const_generics.stderr
  marker_uilints/tests/ui/print_ctor.stderr
  marker_uilints/tests/ui/print_semantic_ty.stderr
  marker_uilints/tests/ui/print_ty.stderr
  marker_utils/src/visitor.rs
Labels: A-api, D-rustc-driver, S-waiting-on-review

#184 API: Add `Syn` prefix to syntactic generics and refactor the inner `generic` module
  marker_api/src/ast/common.rs
  marker_api/src/ast/common/ast_path.rs
  marker_api/src/ast/generic.rs
  marker_api/src/ast/generic/arg.rs
  marker_api/src/ast/generic/bound.rs
  marker_api/src/ast/generic/clause.rs
  marker_api/src/ast/generic/sem.rs
  marker_api/src/ast/generic/sem/args.rs
  marker_api/src/ast/generic/sem/param.rs
  marker_api/src/ast/generic/syn.rs
  marker_api/src/ast/generic/syn/args.rs
  marker_api/src/ast/generic/syn/param.rs
  marker_api/src/ast/item/adt_item.rs
  marker_api/src/ast/item/fn_item.rs
  marker_api/src/ast/item/impl_item.rs
  marker_api/src/ast/item/trait_item.rs
  marker_api/src/ast/item/ty_alias_item.rs
  marker_api/src/ast/ty/trait_ty.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/generics.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_rustc_driver/src/conversion/marker/stmts.rs
  marker_rustc_driver/src/conversion/marker/ty.rs
  marker_uilints/tests/ui/print_adt_item.stderr
  marker_uilints/tests/ui/print_assign_expr.stderr
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_uilints/tests/ui/print_const_generics.stderr
  marker_uilints/tests/ui/print_ctor.stderr
  marker_uilints/tests/ui/print_loop_expr.stderr
  marker_uilints/tests/ui/print_object_exprs.stderr
  marker_uilints/tests/ui/print_op.stderr
  marker_uilints/tests/ui/print_path_expr.stderr
  marker_uilints/tests/ui/print_place_expr.stderr
  marker_uilints/tests/ui/print_semantic_ty.stderr
  marker_uilints/tests/ui/print_ty.stderr
Labels: C-enhancement, A-api, S-waiting-on-review

#185 API: Restruct construction of `*Kind` variants wrapping `*Kind`s
  marker_api/src/ast/expr.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/pat.rs
  marker_api/src/ast/stmt.rs
  marker_api/src/lib.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_rustc_driver/src/conversion/marker/pat.rs
  marker_rustc_driver/src/conversion/marker/stmts.rs
  marker_uilints/tests/ui/print_assign_expr.stderr
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_uilints/tests/ui/print_loop_expr.stderr
  marker_uilints/tests/ui/rustc_ice_message.rs
  marker_uilints/tests/ui/rustc_ice_message.stderr
  marker_utils/src/visitor.rs
Labels: C-enhancement, A-api, S-waiting-on-review

#187 Release v0.1.1 :tada:
  Cargo.lock
  README.md
  cargo-marker/Cargo.toml
  cargo-marker/README.md
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/backend/toolchain.rs
  cargo-marker/src/exit.rs
  marker_adapter/Cargo.toml
  marker_adapter/README.md
  marker_api/Cargo.toml
  marker_api/README.md
  marker_lints/Cargo.toml
  marker_lints/README.md
  marker_rustc_driver/Cargo.toml
  marker_rustc_driver/README.md
  marker_rustc_driver/src/conversion.rs
  marker_uilints/Cargo.toml
  marker_uitest/Cargo.toml
  marker_uitest/README.md
  marker_uitest/src/lib.rs
  marker_utils/Cargo.toml
  marker_utils/README.md
  rust-toolchain
Labels: A-api

#191 Add several more checks to CI
  .cargo/config.toml
  .github/workflows/rust.yml
  .github/workflows/rust_bors.yml
  Cargo.toml
  bors.toml
  cargo-marker/Cargo.toml
  marker_adapter/Cargo.toml
  marker_adapter/src/loader.rs
  marker_api/Cargo.toml
  marker_api/src/lint.rs
  marker_lints/Cargo.toml
  marker_rustc_driver/Cargo.toml
  marker_uilints/Cargo.toml
  marker_uilints/src/lib.rs
  marker_uitest/Cargo.toml
  marker_utils/Cargo.toml
  rustfmt.toml
  scripts/download/cargo-machete.sh
  scripts/download/lib.sh
  scripts/download/taplo.sh
  scripts/download/typos.sh
  scripts/lib.sh
  taplo.toml
Labels: A-infra, S-waiting-on-review

#194 API: Remove `CallableData` from `FnItem` and use fields instead
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/item/fn_item.rs
  marker_rustc_driver/src/conversion/marker.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_uilints/src/lib.rs
  marker_uilints/tests/ui/item/print_fn_item.rs
  marker_uilints/tests/ui/item/print_fn_item.stderr
  marker_uilints/tests/ui/print_adt_item.stderr
  marker_uilints/tests/ui/print_const_generics.stderr
  marker_uilints/tests/uitest.rs
Labels: C-enhancement, A-api, D-rustc-driver, S-waiting-on-review

#196 API: Use patterns in `ClosureExpr` parameters
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/block_expr.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_uilints/tests/ui/expr/print_closure_expr.rs
  marker_uilints/tests/ui/expr/print_closure_expr.stderr
  marker_uilints/tests/ui/print_closure_expr.rs
  marker_uilints/tests/ui/print_closure_expr.stderr
Labels: C-bug, A-api, D-rustc-driver, S-waiting-on-review

#204 cargo: Pass the toolchain to all instances of MetadataCommand
  cargo-marker/src/backend/lints/fetch.rs
  cargo-marker/src/backend/toolchain.rs
Labels: C-bug, A-marker-cargo

#195 API: Always request `Span`s by id (Remove `SpanOwner` enum)
  marker_adapter/src/context.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/item.rs
  marker_api/src/context.rs
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_uilints/tests/ui/item/print_fn_item.stderr
  marker_uilints/tests/ui/print_adt_item.stderr
  marker_uilints/tests/ui/print_const_generics.stderr
Labels: C-bug, D-rustc-driver, S-waiting-on-review, I-panic, A-driver

#199 Doc: Add `CONTRIBUTING.md`
  CONTRIBUTING.md
  README.md
  cargo-marker/README.md
  marker_adapter/README.md
  marker_api/README.md
  marker_lints/README.md
  marker_rustc_driver/README.md
  marker_uilints/README.md
  marker_uitest/README.md
  marker_utils/README.md
Labels: C-documentation, S-waiting-on-review
