Repository rust-marker/marker, pull requests merged in 2023-08, with the labels that each got.

#203 Rustc: Create `Adapter` early to register lints with rustc
  marker_adapter/src/lib.rs
  marker_api/src/interface.rs
  marker_lints/src/lib.rs
  marker_rustc_driver/src/conversion/rustc.rs
  marker_rustc_driver/src/conversion/rustc/common.rs
  marker_rustc_driver/src/conversion/rustc/unstable.rs
  marker_rustc_driver/src/lint_pass.rs
  marker_rustc_driver/src/main.rs
  marker_uilints/tests/ui/lint_level_attributes.rs
  marker_uilints/tests/ui/lint_level_attributes.stderr
Labels: C-bug, A-marker-adapter, D-rustc-driver, S-waiting-on-review, A-driver

#197 API, Rustc: Add `AwaitExpr` and support `async` blocks and fns
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/block_expr.rs
  marker_api/src/ast/expr/op_exprs.rs
  marker_api/src/ast/item/fn_item.rs
  marker_api/src/prelude.rs
  marker_rustc_driver/src/conversion/marker.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/generics.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_uilints/src/lib.rs
  marker_uilints/tests/ui/expr/print_async_block.rs
  marker_uilints/tests/ui/expr/print_async_block.stderr
  marker_uilints/tests/ui/expr/print_await_expr.rs
  marker_uilints/tests/ui/expr/print_await_expr.stderr
  marker_uilints/tests/ui/item/print_async_fn.rs
  marker_uilints/tests/ui/item/print_async_fn.stderr
  marker_uilints/tests/ui/lint_ice_message.rs
  marker_uilints/tests/ui/lint_ice_message.stderr
  marker_uilints/tests/ui/print_assign_expr.stderr
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_uilints/tests/ui/print_let_expr.stderr
  marker_uilints/tests/ui/print_loop_expr.stderr
  marker_uilints/tests/ui/test_no_async_ice.rs
  marker_uilints/tests/ui/test_no_async_ice.stderr
  marker_uilints/tests/uitest.rs
  marker_utils/src/visitor.rs
Labels: C-enhancement, A-api, D-rustc-driver, S-waiting-on-review

#210 Doc: Start *The Marker Book* and setup *GitHub-Pages*
  .github/workflows/docs.yml
  .github/workflows/gh-pages.yml
  .github/workflows/rust_bors.yml
  .gitignore
  bors.toml
  docs/README.md
  docs/book/.gitignore
  docs/book/book.toml
  docs/book/src/README.md
  docs/book/src/SUMMARY.md
  docs/book/src/lint-dev.md
  docs/book/src/marker-dev.md
  docs/book/src/usage.md
  docs/index.html
  scripts/download/mdbook.sh
Labels: C-documentation, A-infra, S-waiting-on-review

#211 Rustc: Avoid caching by tracking lint crates and env vars
  Cargo.lock
  marker_adapter/Cargo.toml
  marker_adapter/src/lib.rs
  marker_adapter/src/loader.rs
  marker_rustc_driver/src/lint_pass.rs
  marker_rustc_driver/src/main.rs
Labels: A-marker-adapter, D-rustc-driver, S-waiting-on-review, A-driver

#212 Book: Add new sections about installation and lint crate security
  .github/workflows/docs.yml
  .github/workflows/gh-pages.yml
  .github/workflows/rust_bors.yml
  README.md
  cargo-marker/README.md
  docs/README.md
  docs/book/book.toml
  docs/book/src/SUMMARY.md
  docs/book/src/usage/installation.md
  docs/book/src/usage/lint-crate-declaration.md
  docs/book/src/usage/lint-crate-security.md
  scripts/download/mdbook.sh
Labels: C-documentation, S-waiting-on-review

#216 CI: Fix Marker Book deployment
  .github/workflows/gh-pages.yml
Labels: A-infra

#213 Cargo: Build CLAP command using derive
  .cargo/config.toml
  Cargo.lock
  cargo-marker/Cargo.toml
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/backend/toolchain.rs
  cargo-marker/src/cli.rs
  cargo-marker/src/main.rs
  marker_uitest/src/lib.rs
Labels: C-enhancement, A-marker-cargo, S-waiting-on-review

#214 201/pass cfg flags
  cargo-marker/src/backend.rs
  cargo-marker/src/backend/lints.rs
  cargo-marker/src/backend/lints/build.rs
  docs/book/src/SUMMARY.md
  docs/book/src/usage/setting-lint-levels.md
  marker_adapter/README.md
  marker_adapter/src/loader.rs
  marker_rustc_driver/src/main.rs
  marker_uilints/tests/ui/cfg_attr_check.rs
  marker_uilints/tests/ui/cfg_attr_check.stderr
Labels: C-enhancement, A-marker-adapter, A-marker-cargo, S-waiting-on-review

#217 Fixed toolchain version drift, improved error handling, config loading and refactoring.
  Cargo.lock
  cargo-marker/Cargo.toml
  cargo-marker/src/backend.rs
  cargo-marker/src/backend/cargo.rs
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/backend/lints/fetch.rs
  cargo-marker/src/backend/toolchain.rs
  cargo-marker/src/cli.rs
  cargo-marker/src/config.rs
  cargo-marker/src/exit.rs
  cargo-marker/src/main.rs
  cargo-marker/src/utils.rs
  marker_adapter/src/loader.rs
  marker_rustc_driver/src/context.rs
Labels: C-enhancement, A-marker-cargo, S-waiting-on-review

#223 Chore: Add copyright notice
  COPYRIGHT.md
  README.md
  cargo-marker/COPYRIGHT.md
  marker_adapter/COPYRIGHT.md
  marker_api/COPYRIGHT.md
  marker_lints/COPYRIGHT.md
  marker_rustc_driver/COPYRIGHT.md
  marker_uilints/COPYRIGHT.md
  marker_uitest/COPYRIGHT.md
  marker_utils/COPYRIGHT.md
Labels: C-documentation, S-waiting-on-review

#222 Replace bors with Github native merge queue
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/gh-pages.yml
  .github/workflows/rust.yml
  .github/workflows/rust_bors.yml
  bors.toml
  docs/book/src/usage/setting-lint-levels.md
  marker_adapter/src/context.rs
  marker_adapter/src/lib.rs
  marker_api/src/context.rs
  rust-toolchain
  rust-toolchain.toml
  scripts/download/cargo-machete.sh
  scripts/download/lib.sh
  scripts/download/mdbook.sh
  scripts/download/taplo.sh
  scripts/download/typos.sh
Labels: C-enhancement, A-infra, S-waiting-on-review

#224 CI: Fix Marker Book Deployment
  .github/workflows/gh-pages.yml
Labels: C-bug, C-documentation, A-infra

#218 API, Rustc: Rework spans (and fix a few errors)
  marker_adapter/src/context.rs
  marker_api/src/ast/common/id.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/context.rs
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/context/storage.rs
  marker_rustc_driver/src/conversion/common.rs
  marker_rustc_driver/src/conversion/marker.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/common/span.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/rustc.rs
  marker_rustc_driver/src/conversion/rustc/common.rs
  marker_uilints/src/lib.rs
  marker_uilints/tests/ui/expr/print_async_block.stderr
  marker_uilints/tests/ui/expr/print_await_expr.rs
  marker_uilints/tests/ui/expr/print_await_expr.stderr
  marker_uilints/tests/ui/expr/sugar/README.md
  marker_uilints/tests/ui/expr/sugar/for_loop.rs
  marker_uilints/tests/ui/expr/sugar/for_loop.stderr
  marker_uilints/tests/ui/expr/sugar/ranges.rs
  marker_uilints/tests/ui/expr/sugar/ranges.stderr
  marker_uilints/tests/ui/expr/sugar/try_expr.rs
  marker_uilints/tests/ui/expr/sugar/try_expr.stderr
  marker_uilints/tests/ui/expr/sugar/while_loop.rs
  marker_uilints/tests/ui/expr/sugar/while_loop.stderr
  marker_uilints/tests/ui/item/print_async_fn.stderr
  marker_uilints/tests/ui/item/print_fn_item.stderr
  marker_uilints/tests/ui/print_adt_item.stderr
  marker_uilints/tests/ui/print_assign_expr.stderr
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_uilints/tests/ui/print_const_generics.rs
  marker_uilints/tests/ui/print_const_generics.stderr
  marker_uilints/tests/ui/print_ctor.stderr
  marker_uilints/tests/ui/print_loop_expr.stderr
  marker_uilints/tests/ui/print_object_exprs.stderr
  marker_uilints/tests/ui/print_op.stderr
  marker_uilints/tests/ui/print_path_expr.stderr
  marker_uilints/tests/ui/print_place_expr.stderr
  marker_uilints/tests/ui/print_span.rs
  marker_uilints/tests/ui/print_span.stderr
  marker_uilints/tests/ui/print_ty.stderr
  marker_uilints/tests/uitest.rs
  marker_utils/src/visitor.rs
Labels: C-enhancement, A-api, D-rustc-driver, S-waiting-on-review, I-panic, A-driver

#227 Chore: Use `workspace.package` and `workspace.dependencies` and bump version to `v0.2.0-dev`
  Cargo.lock
  Cargo.toml
  cargo-marker/Cargo.toml
  cargo-marker/src/backend/driver.rs
  marker_adapter/Cargo.toml
  marker_api/Cargo.toml
  marker_lints/Cargo.toml
  marker_rustc_driver/Cargo.toml
  marker_uilints/Cargo.toml
  marker_uitest/Cargo.toml
  marker_utils/Cargo.toml
Labels: C-enhancement, A-infra, S-waiting-on-review

#228 Release: v0.2.0
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  cargo-marker/README.md
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/exit.rs
  docs/book/src/usage/lint-crate-declaration.md
  marker_lints/README.md
  marker_utils/README.md
Labels: C-enhancement, A-infra

#229 Release: v0.2.1
  CONTRIBUTING.md
  README.md
  cargo-marker/README.md
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/exit.rs
  docs/book/src/usage/lint-crate-declaration.md
  marker_lints/README.md
  marker_utils/README.md
Labels: C-enhancement

#230 Bump nightly -> 2023-08-24
  cargo-marker/README.md
  cargo-marker/src/backend/driver.rs
  marker_rustc_driver/README.md
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/generics.rs
  marker_rustc_driver/src/conversion/marker/item.rs
  marker_rustc_driver/src/conversion/marker/pat.rs
  marker_rustc_driver/src/conversion/marker/ty.rs
  marker_rustc_driver/src/main.rs
  marker_uilints/tests/ui/lint_ice_message.stderr
  marker_uilints/tests/ui/rustc_ice_message.stderr
  rust-toolchain.toml
  util/update-toolchain.sh
Labels: D-rustc-driver

#231 Improve error handling and observability
  Cargo.lock
  Cargo.toml
  cargo-marker/Cargo.toml
  cargo-marker/src/backend.rs
  cargo-marker/src/backend/cargo.rs
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/backend/lints.rs
  cargo-marker/src/backend/lints/build.rs
  cargo-marker/src/backend/lints/fetch.rs
  cargo-marker/src/backend/toolchain.rs
  cargo-marker/src/cli.rs
  cargo-marker/src/config.rs
  cargo-marker/src/error.rs
  cargo-marker/src/exit.rs
  cargo-marker/src/main.rs
  cargo-marker/src/observability.rs
  cargo-marker/src/observability/display.rs
  cargo-marker/src/observability/display/cli.rs
  marker_adapter/Cargo.toml
  marker_adapter/README.md
  marker_adapter/src/error.rs
  marker_adapter/src/lib.rs
  marker_adapter/src/loader.rs
  marker_error/COPYRIGHT.md
  marker_error/Cargo.toml
  marker_error/README.md
  marker_error/src/context.rs
  marker_error/src/lib.rs
  marker_error/src/trace.rs
  marker_rustc_driver/Cargo.toml
  marker_rustc_driver/src/lint_pass.rs
  marker_rustc_driver/src/main.rs
Labels: C-enhancement, A-marker-cargo, S-waiting-on-review
