Repository rust-marker/marker, pull requests merged in 2023-09, with the labels that each got.

#232 Utils: Add scope config for visitors and add `for_each_expr` fn
  Cargo.lock
  cargo-marker/src/cli.rs
  marker_adapter/src/lib.rs
  marker_api/src/prelude.rs
  marker_uilints/Cargo.toml
  marker_uilints/src/lib.rs
  marker_uilints/src/utils.rs
  marker_uilints/tests/ui/utils/contains_return.rs
  marker_uilints/tests/ui/utils/contains_return.stderr
  marker_utils/src/visitor.rs
Labels: C-enhancement, S-waiting-on-review, A-marker-utils

#233 Type constraint for paths and IntoUtf8 trait
  Cargo.lock
  Cargo.toml
  cargo-marker/Cargo.toml
  cargo-marker/src/backend.rs
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/backend/lints.rs
  cargo-marker/src/backend/lints/build.rs
  cargo-marker/src/backend/lints/fetch.rs
  cargo-marker/src/backend/toolchain.rs
  cargo-marker/src/observability/display/cli.rs
  cargo-marker/src/utils.rs
  cargo-marker/src/utils/utf8.rs
  marker_adapter/Cargo.toml
  marker_adapter/src/loader.rs
  marker_rustc_driver/Cargo.toml
  marker_rustc_driver/src/main.rs
Labels: C-enhancement, A-marker-cargo, S-waiting-on-review

#237 Chore: Add magnificent new issue templates
  .github/ISSUE_TEMPLATE/blank_issue.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/panic.yml
  cargo-marker/src/cli.rs
Labels: C-enhancement, A-marker-cargo, A-infra, S-waiting-on-review

#241 API: Rename `QuestionMarkExpr` -> `TryExpr` (Breaking change)
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/op_exprs.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_utils/src/visitor.rs
Labels: A-api, S-waiting-on-review, C-discussion

#244 API: Wrap `*Kind` enums in `*Kind` enums
  Cargo.lock
  Cargo.toml
  marker_api/Cargo.toml
  marker_api/src/ast/common/id.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/pat.rs
  marker_api/src/ast/pat/lit_pat.rs
  marker_api/src/ast/pat/place_pat.rs
  marker_api/src/ast/stmt.rs
  marker_api/src/lib.rs
  marker_api/src/prelude.rs
  marker_rustc_driver/src/conversion/marker.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/marker/pat.rs
  marker_rustc_driver/src/conversion/marker/stmts.rs
  marker_rustc_driver/src/conversion/rustc/common.rs
  marker_uilints/tests/ui/item/print_async_fn.stderr
  marker_uilints/tests/ui/print_assign_expr.stderr
  marker_uilints/tests/ui/print_cond_expr.stderr
  marker_uilints/tests/ui/print_loop_expr.stderr
  marker_utils/src/visitor.rs
Labels: C-documentation, A-api, D-rustc-driver, A-driver, I-api-break

#246 Reorganize the CLI to a consistent module structure
  cargo-marker/src/backend.rs
  cargo-marker/src/backend/lints/fetch.rs
  cargo-marker/src/cli.rs
  cargo-marker/src/cli/check.rs
  cargo-marker/src/cli/setup.rs
  cargo-marker/src/cli/test_setup.rs
  cargo-marker/src/config.rs
  cargo-marker/src/main.rs
Labels: C-enhancement, A-marker-cargo

#239 Automate the release process, produce pre-compiled binaries
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  cargo-marker/README.md
  cargo-marker/src/backend/driver.rs
  cargo-marker/src/error.rs
  cargo-marker/src/utils/utf8.rs
  docs/book/src/usage/installation.md
  docs/book/src/usage/lint-crate-declaration.md
  docs/internal/release.md
  marker_adapter/Cargo.toml
  marker_api/Cargo.toml
  marker_api/README.md
  marker_api/src/ast/expr.rs
  marker_lints/Cargo.toml
  marker_lints/README.md
  marker_rustc_driver/Cargo.toml
  marker_uilints/Cargo.toml
  marker_uitest/Cargo.toml
  marker_uitest/README.md
  marker_utils/Cargo.toml
  marker_utils/README.md
  scripts/download/cargo-machete.sh
  scripts/download/cargo-release.sh
  scripts/download/lib.sh
  scripts/download/mdbook.sh
  scripts/download/taplo.sh
  scripts/download/typos.sh
  scripts/lib.sh
  scripts/release/get-next-dev-version.sh
  scripts/release/get-version-from-changelog.sh
  scripts/release/install.sh
  scripts/release/qemu-setup.sh
  scripts/release/set-version.sh
  scripts/release/snapshot.diff
  scripts/release/test.sh
  scripts/release/upload.sh
  scripts/update-toolchain.sh
  util/update-toolchain.sh
Labels: A-infra, S-waiting-on-review

#252 Add windows installation script
  scripts/release/install.ps1
  scripts/release/install.sh
  scripts/release/set-version.sh
  scripts/release/snapshot.diff
  scripts/update-toolchain.sh
Labels: C-enhancement, A-infra

#245 API: Reduce parameters for `AstContext::emit_lint` and add docs
  marker_adapter/src/context.rs
  marker_api/src/ast/common/id.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/lit_expr.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/item/adt_item.rs
  marker_api/src/ast/stmt.rs
  marker_api/src/context.rs
  marker_api/src/diagnostic.rs
  marker_api/src/lib.rs
  marker_api/src/prelude.rs
  marker_lints/src/lib.rs
  marker_lints/tests/ui/diag_msg_uppercase_start.rs
  marker_lints/tests/ui/diag_msg_uppercase_start.stderr
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/conversion/rustc/common.rs
  marker_uilints/src/lib.rs
  marker_uilints/src/utils.rs
Labels: C-documentation, C-enhancement, A-api, I-api-break

#256 API: Rename `AstContext` -> `MarkerContext` (Let's break everything :boom:)
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/internal/README.md
  docs/internal/driver-info.md
  marker_adapter/src/context.rs
  marker_adapter/src/lib.rs
  marker_adapter/src/loader.rs
  marker_api/src/ast/common.rs
  marker_api/src/ast/common/ast_path.rs
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/block_expr.rs
  marker_api/src/ast/expr/control_flow_expr.rs
  marker_api/src/ast/expr/ctor_expr.rs
  marker_api/src/ast/expr/lit_expr.rs
  marker_api/src/ast/expr/place_expr.rs
  marker_api/src/ast/generic.rs
  marker_api/src/ast/generic/syn/args.rs
  marker_api/src/ast/generic/syn/param.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/item/adt_item.rs
  marker_api/src/ast/pat.rs
  marker_api/src/ast/pat/struct_pat.rs
  marker_api/src/ast/stmt.rs
  marker_api/src/ast/ty.rs
  marker_api/src/context.rs
  marker_api/src/diagnostic.rs
  marker_api/src/interface.rs
  marker_api/src/lib.rs
  marker_api/src/lint.rs
  marker_api/src/prelude.rs
  marker_api/src/span.rs
  marker_lints/src/lib.rs
  marker_lints/tests/ui/diag_msg_uppercase_start.rs
  marker_rustc_driver/src/context.rs
  marker_rustc_driver/src/conversion/marker.rs
  marker_rustc_driver/src/conversion/marker/common.rs
  marker_rustc_driver/src/conversion/marker/common/span.rs
  marker_rustc_driver/src/conversion/marker/expr.rs
  marker_rustc_driver/src/conversion/rustc/common.rs
  marker_uilints/src/lib.rs
  marker_uilints/src/utils.rs
  marker_uitest/README.md
  marker_utils/src/visitor.rs
Labels: C-enhancement, A-api, I-api-break

#263 uitest: Update `ui_test` from `v0.11.7` to `v0.21.2` and other deps
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  marker_lints/tests/uitest.rs
  marker_uilints/tests/ui/expr/sugar/for_loop.stderr
  marker_uilints/tests/ui/expr/sugar/while_loop.stderr
  marker_uilints/tests/ui/print_let_expr.stderr
  marker_uilints/tests/uitest.rs
  marker_uitest/Cargo.toml
  marker_uitest/src/lib.rs
Labels: C-enhancement, A-marker-uitest
