Repository rust-marker/marker, pull requests merged in 2023-01, with the labels that each got.

#66 `cargo-marker` refactoring and review
  .github/workflows/rust.yml
  .github/workflows/rust_bors.yml
  Cargo.lock
  LICENSE-MIT
  README.md
  cargo-marker/Cargo.toml
  cargo-marker/src/cli.rs
  cargo-marker/src/driver.rs
  cargo-marker/src/lints.rs
  cargo-marker/src/main.rs
  marker_api/src/ast/item.rs
  marker_lints/tests/compile_test.rs
  util/update-toolchain.sh
Labels: A-cargo-ui, S-waiting-on-review

#68 A good chunk of stable patterns for marker
  marker_api/src/ast/common/id.rs
  marker_api/src/ast/mod.rs
  marker_api/src/ast/pat.rs
  marker_api/src/ast/pat/ident_pat.rs
  marker_api/src/ast/pat/or_pat.rs
  marker_api/src/ast/pat/ref_pat.rs
  marker_api/src/ast/pat/rest_pat.rs
  marker_api/src/ast/pat/slice_pat.rs
  marker_api/src/ast/pat/struct_pat.rs
  marker_api/src/ast/pat/tuple_pat.rs
  marker_api/src/ast/pat/wildcard_pat.rs
Labels: A-api, S-waiting-on-review

#82 Start on expressions and statements, also featuring bodies and some connections between these elements
  marker_adapter/src/context.rs
  marker_api/src/ast/common.rs
  marker_api/src/ast/common/id.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/block_expr.rs
  marker_api/src/ast/expr/bool_lit_expr.rs
  marker_api/src/ast/expr/char_lit_expr.rs
  marker_api/src/ast/expr/float_lit_expr.rs
  marker_api/src/ast/expr/int_lit_expr.rs
  marker_api/src/ast/expr/str_lit_expr.rs
  marker_api/src/ast/expr/unstable_expr.rs
  marker_api/src/ast/generic/param.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/item/extern_crate_item.rs
  marker_api/src/ast/item/ty_alias_item.rs
  marker_api/src/ast/mod.rs
  marker_api/src/ast/stmt.rs
  marker_api/src/ast/ty.rs
  marker_api/src/ast/ty/alias_ty.rs
  marker_api/src/context.rs
  marker_api/src/interface.rs
  marker_driver_rustc/src/context.rs
Labels: S-waiting-on-review

#72 (doc)comment nits
  cargo-marker/src/cli.rs
  marker_adapter/src/context.rs
  marker_api/src/ast/common/ast_path.rs
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/expr/str_lit_expr.rs
  marker_api/src/ast/generic.rs
  marker_api/src/ast/generic/arg.rs
  marker_api/src/ast/generic/clause.rs
  marker_api/src/ast/generic/param.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/item/adt_item.rs
  marker_api/src/ast/item/const_item.rs
  marker_api/src/ast/item/extern_block_item.rs
  marker_api/src/ast/item/extern_crate_item.rs
  marker_api/src/ast/item/impl_item.rs
  marker_api/src/ast/item/trait_item.rs
  marker_api/src/ast/item/ty_alias_item.rs
  marker_api/src/ast/item/use_decl_item.rs
  marker_api/src/ast/ty.rs
  marker_api/src/ast/ty/closure_ty.rs
  marker_api/src/ast/ty/self_ty.rs
  marker_api/src/context.rs
  marker_api/src/ffi.rs
  marker_api/src/interface.rs
  marker_api/src/lib.rs
  marker_api/src/lint.rs
  marker_driver_rustc/src/context.rs
  marker_driver_rustc/src/conversion/common/span.rs
  marker_driver_rustc/src/conversion/common/unstable.rs
  marker_driver_rustc/src/conversion/item.rs
  marker_driver_rustc/src/main.rs
Labels: S-waiting-on-review

#83 Minor cleanup around the project
  Cargo.lock
  marker_api/src/ast.rs
  marker_api/src/ast/common/ast_path.rs
  marker_api/src/ast/common/callable.rs
  marker_api/src/ast/common/span.rs
  marker_api/src/ast/expr/str_lit_expr.rs
  marker_api/src/ast/generic/arg.rs
  marker_api/src/ast/generic/param.rs
  marker_api/src/ast/item.rs
  marker_api/src/ast/item/adt_item.rs
  marker_api/src/ast/item/extern_crate_item.rs
  marker_api/src/ast/item/unstable_item.rs
  marker_api/src/ast/item/use_item.rs
  marker_api/src/ast/pat/ident_pat.rs
  marker_api/src/ast/pat/struct_pat.rs
  marker_api/src/ast/ty/relative_ty.rs
  marker_api/src/context.rs
  marker_api/src/ffi.rs
  marker_driver_rustc/Cargo.toml
  marker_driver_rustc/build.rs
  marker_driver_rustc/src/conversion/item.rs
  marker_driver_rustc/src/main.rs
  marker_lints/src/lib.rs
Labels: S-waiting-on-review

#84 cargo-marker: add initial configuration support
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  cargo-marker/Cargo.toml
  cargo-marker/src/config.rs
  cargo-marker/src/lints.rs
  cargo-marker/src/main.rs
Labels: A-cargo-ui, S-waiting-on-review

#86 Minor cleanup in rustc's driver
  marker_adapter/src/loader.rs
  marker_api/README.md
  marker_api/src/interface.rs
  marker_api/src/lib.rs
  marker_driver_rustc/src/context/storage.rs
  marker_driver_rustc/src/lint_pass.rs
  marker_driver_rustc/src/main.rs
  marker_lints/src/lib.rs
Labels: S-waiting-on-review

#90 Refactoring rustc's driver once again
  docs/internal/rustc_driver/conversion.md
  marker_adapter/src/context.rs
  marker_driver_rustc/src/context.rs
  marker_driver_rustc/src/context/storage.rs
  marker_driver_rustc/src/conversion.rs
  marker_driver_rustc/src/conversion/common.rs
  marker_driver_rustc/src/conversion/common/ast_path.rs
  marker_driver_rustc/src/conversion/common/id.rs
  marker_driver_rustc/src/conversion/common/span.rs
  marker_driver_rustc/src/conversion/common/unstable.rs
  marker_driver_rustc/src/conversion/generic.rs
  marker_driver_rustc/src/conversion/item.rs
  marker_driver_rustc/src/conversion/marker.rs
  marker_driver_rustc/src/conversion/marker/common.rs
  marker_driver_rustc/src/conversion/marker/generics.rs
  marker_driver_rustc/src/conversion/marker/item.rs
  marker_driver_rustc/src/conversion/marker/ty.rs
  marker_driver_rustc/src/conversion/rustc.rs
  marker_driver_rustc/src/conversion/rustc/common.rs
  marker_driver_rustc/src/conversion/rustc/unstable.rs
  marker_driver_rustc/src/conversion/ty.rs
  marker_driver_rustc/src/lint_pass.rs
Labels: D-rustc-driver, S-waiting-on-review

#91 Add simple rustc backend for patterns
  marker_api/src/ast/pat.rs
  marker_api/src/ast/pat/ref_pat.rs
  marker_api/src/ast/pat/unstable_pat.rs
  marker_driver_rustc/src/conversion/common.rs
  marker_driver_rustc/src/conversion/marker.rs
  marker_driver_rustc/src/conversion/marker/common.rs
  marker_driver_rustc/src/conversion/marker/item.rs
  marker_driver_rustc/src/conversion/marker/pat.rs
Labels: S-waiting-on-review

#96 Start on rustc body, expr and stmt conversion
  marker_api/src/ast/stmt.rs
  marker_driver_rustc/src/context.rs
  marker_driver_rustc/src/conversion/common.rs
  marker_driver_rustc/src/conversion/marker.rs
  marker_driver_rustc/src/conversion/marker/common.rs
  marker_driver_rustc/src/conversion/marker/expr.rs
  marker_driver_rustc/src/conversion/marker/item.rs
  marker_driver_rustc/src/conversion/marker/stmts.rs
  marker_lints/src/lib.rs
  marker_lints/tests/ui/foo_items.rs
  marker_lints/tests/ui/foo_items.stderr
  marker_lints/tests/ui/print_let_expr.rs
  marker_lints/tests/ui/print_let_expr.stdout
  marker_lints/tests/ui/print_ty.rs
Labels: D-rustc-driver, S-waiting-on-review

#97 Clean up id transmutes in rustc driver
  marker_driver_rustc/src/conversion/common.rs
  marker_driver_rustc/src/conversion/marker/common.rs
  marker_driver_rustc/src/conversion/rustc/common.rs
Labels: D-rustc-driver, S-waiting-on-review

#99 Operator Expressions, precedence enum and some minor cleanup
  marker_api/src/ast/common/ast_path.rs
  marker_api/src/ast/expr.rs
  marker_api/src/ast/expr/op_exprs.rs
  marker_api/src/ast/generic.rs
  marker_api/src/ffi.rs
  marker_driver_rustc/src/conversion/marker/common.rs
Labels: S-waiting-on-review

#102 fix panic in marker_driver_rustc
  marker_driver_rustc/src/conversion/marker/expr.rs
Labels: D-rustc-driver, S-waiting-on-review
